.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;   
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger {
    background-image: url('../img/Menu Aberto.svg');
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
}

.lista-menu {
    display: none;
    width: 70vw;
    z-index: 10;
    position: absolute;
    top: 100%;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    text-transform: uppercase;
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__imagem {
    padding: 1em;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburger {
        display: none;
    }

    .container__titulo {
        font-family: var(--fonte-secundario);
        display: block;
        font-size: 30px;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .container__imagem--favoritos {
        display: none;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item,
    .opcoes__link { 
        padding: 2em 1em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--preto);
    }
    
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
        z-index: 10;
    }

    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        -webkit-text-fill-color: var(--branco);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {

    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        font-size: 20px;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }
}